<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
const add = (num: number) => {
  numberList.value.splice(0, numberList.value.length);
  for (let i = 1; i <= num; i++) {
    numberList.value.push(i);
  }
};
const numberList = ref<number[]>([]);
</script>

<template>
  <v-container>
    <v-text-field
      label="Please Input Number"
      v-model.number="number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      required
      :oninput="add(number)"
    >
    </v-text-field>
    <v-row>
      <v-col v-for="item in numberList" :key="item" cols="12" md="1">
        <h2>{{ item }}</h2>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scope>
.col {
  display: block;
  font-size: 20px;
  border: 2;
  max-width: 8%;
  flex-basis: 8%;
}
</style>
