<script lang="ts" setup>
import { ref } from "vue";
const imageList = ref([
  {
    name: "ANGRY",
    img: "feeling_imgs/angry.png",
    isActive: false,
  },
  {
    name: "CUTE",
    img: "feeling_imgs/cute.png",
    isActive: false,
  },
  {
    name: "EXCITED",
    img: "feeling_imgs/excited.png",
    isActive: false,
  },
  {
    name: "PAIN",
    img: "feeling_imgs/pain.png",
    isActive: false,
  },
  {
    name: "SHOCKED",
    img: "feeling_imgs/shocked.png",
    isActive: false,
  },
  {
    name: "SMILE",
    img: "feeling_imgs/smile.png",
    isActive: true,
  },
]);
const changeImg = (item: { name: string; img: string }) => {
  EmoName.value = item.name;
  EmoImg.value = item.img;
  imageList.value.forEach((i) => {
    i.isActive = false;
    if (i.name === item.name) {
      i.isActive = true;
    }
  });
};
const EmoName = ref("SMILE");
const EmoImg = ref("feeling_imgs/smile.png");
</script>

<template fluid>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img style="height: 300px" :src="EmoImg"></v-img>
      </v-col>
      <v-col cols="6">
        <h1 class="ma-5">{{ EmoName }}</h1>
        <v-row v-for="(item, index) in imageList" :key="index">
          <v-btn @click="changeImg(item)" :class="{ yellow: item.isActive }">{{
            item.name
          }}</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  width: 300px;
  text-align: center;
  margin: 10px;
}
.yellow {
  background-color: yellow;
}
</style>
